doctype html
html 
  head 
    title Signup Page
    link(
      rel="stylesheet",
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css",
      crossorigin="anonymous",
      referrerpolicy="no-referrer"
    )
    script.
      function redirectIfSuccess(message) {
        if (message && message.toLowerCase().includes('successful')) {
          setTimeout(() => {
            window.location.href = '/login';
          }, 500); // 3 seconds delay
        }
      }

      function messagechange(message) {
        if (!message) return '';
        message = message.toLowerCase();
        if (message.includes('username')) return "Username not available";
        if (message.includes('email')) return "Email already registered";
        return message.charAt(0).toUpperCase() + message.slice(1); // Capitalize
      }

      window.onload = () => {
        const messageElement = document.getElementById("server-message");
        if (messageElement) {
          const original = messageElement.textContent;
          const updated = messagechange(original);
          messageElement.textContent = updated;
          redirectIfSuccess(original);
        }
      }

  body
    block style 
      style 
        include ../static/style.css
        include ../static/signup.css

    block content 
      nav#navbar.top 
        ul
          div#logo
            img(src = "https://static.vecteezy.com/system/resources/thumbnails/021/027/675/small/black-graphic-silhouette-of-a-dancing-man-isolated-element-logo-png.png")
            | RDA
          li #[a(href = "/") Home]
          li #[a(href = "/aboutus") About Us]
          li #[a(href = "/services") Services]
          li #[a(href = "/classinfo") Class Info]
          li #[a(href = "/contact") Contact us]

          if user
            i.fas.fa-bell.bell
            i.fas.fa-user.user
            p.email  #{user.email}
            a(href="/logout")
                button.signin Logout

          else
            i.fas.fa-bell
            a(href="/login")
              button.login Log In
            a(href="/signup")
              button.signin Sign In
      .container
        .page
          h1 Signup

          if message
            p#server-message(
              style="color: white; text-align: center; margin: 10px;"
            ) #{message}

          form(action="/signup" method="POST")
            input(type="text" name="username" placeholder="Username" required)
            input(type="email" name="email" placeholder="Email" required)
            input(type="password" name="password" placeholder="Password" required)
            button(type="submit") Signup
            a(href="/login") Login
